<div class="d-flex justify-content-between align-items-center mt-3">

    <div class="p-4">
        <i class="bi bi-chevron-double-left"></i>
    </div>

    <div class="d-flex justify-content-center gap-4">
        
        <div class="d-flex justify-content-center flex-column align-items-center">
            <div class="languages-card rounded">
                <img class="image" src="/python-logo.png" alt="Python Image">
            </div>
            <a>PYTHON</a>
        </div>

    <div class="d-flex justify-content-center flex-column align-items-center">

        <div class="languages-card rounded ">
            <img class="image" src="/js-logo.png" alt="JavaScript Image">
        </div>
        <a>JAVASCRIPT</a>
        
    </div>

    <div class="d-flex justify-content-center flex-column align-items-center">

        <div class="languages-card rounded">
            <img class="image" src="/reactjs-logo.png" alt="ReactJS Image">
        </div>
        <a>REACT JS</a>

    </div>

    <div class="d-flex justify-content-center flex-column align-items-center">

        <div class="languages-card rounded">
            <img class="image" src="/html5-logo.png" alt="HTML Image">
        </div>
        <a>HTML5</a>

    </div>
    
    <div class="d-flex justify-content-center flex-column align-items-center">

        <div class="languages-card rounded">
            <img class="image" src="/angular-logo.png" alt="Angular Image">
        </div>
        <a>ANGULAR</a>

    </div>

    <div class="d-flex justify-content-center flex-column align-items-center">

        <div class="languages-card rounded">
            <img class="image" src="/css-logo.png" alt="CSS Image">
        </div>
        <a>CSS</a>

    </div>

    <div class="d-flex justify-content-center flex-column align-items-center">

        <div class="languages-card rounded">
            <img class="image" src="/bootstrap-logo.svg" alt="Bootstrap Image">
        </div>
        <a>BOOTSTRAP</a>

    </div>

    <div class="d-flex justify-content-center flex-column align-items-center">

        <div class="languages-card rounded">
            <img class="image" src="/git-logo.png" alt="Git Image">
        </div>
        <a>GIT</a>

    </div>

    </div>

    <div class="p-4">
        <i class="bi bi-chevron-double-right"></i>
    </div>

</div>

