<div class="d-flex justify-content-center m-3">
    <div class="imagem">
        <img src="../../assets/images/IMG_8201-removebg-preview.png" alt="Profile Image">
    </div>
    <div class="info m-5 w-50">
        <h1>Software Developer</h1>
        <h4>Lucas Ellery Viana</h4>
        <p>texto texto texto textotexto texto texto texto texto texto texto texto textotextotextov texto texto texto textotexto texto texto texto texto texto texto texto textotextotextov texto texto texto textotexto texto texto texto texto texto texto texto textotextotextov texto texto texto textotexto texto texto texto texto texto texto texto</p>
    </div>
</div>
