<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
      <div class="d-flex justify-content-between w-100">

        <div class="w-auto">
            <h4 class="navbar-brand" href="#">Lucas Ellery Viana</h4>
        </div>

        <div>
          <div class="d-none d-lg-flex justify-content-end w-auto" id="navbarNav">
            <ul class="navbar-nav text-light">
              <li class="nav-item">
                <a class="nav-link active" href="#">{{navbar[0]}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">{{navbar[1]}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">{{navbar[2]}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">{{navbar[3]}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">{{navbar[4]}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">{{navbar[5]}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">{{navbar[6]}}</a>
              </li>
            </ul>
          </div>

          <div>
            <button class="navbar-toggler w-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </div>

    </div>

  </nav>
  